html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  color: rgba(0, 0, 0, 0.60);
}

body {
  font-family: 'livory', 'Arial', sans-serif;
  font-size: 25px;
  margin: 0 auto;
  width: 600px;
  line-height: 1.3em;
  letter-spacing: -.005em;
}

a {
  color: rgb(255, 0, 116);
  text-decoration: none;
}

h1 {
  font-weight: 400;
}

nav {
  margin: 40px auto;
  font-size: 25px;
}

nav h2 {
  display: inline;
  font-size: 25px;
  letter-spacing: -.02em;
}

nav a {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.60);
  font-style: italic;
}
nav a:hover {
  color: rgb(255, 0, 116);
}
nav a.active:hover {
  color: rgba(0, 0, 0, 0.60);
}
nav a.active {
  font-style: normal;
  font-weight: 700;
}

.amp {
  font-family: baskerville;
  font-style: italic;
}

.content {
}

.info-email {
  font-style: italic;
}

.work {
  padding: 30px;
  position: relative;
  margin: 70px 0px;
  min-height: 300px;
  background-color: black;
  overflow: hidden;
}
.work h4 {
  margin: 0px;
  font-size: 40px;
  background: rgba(255, 0, 116, 0.75);
  display: inline;
  color: white;
}
.work h4 a {
  color: white;
  font-weight: normal;
  border-bottom: none;
  padding: 10px;
  letter-spacing: -0.01em;
}
.work p {
  background: white;
  padding: 10px;
}
.work video {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
}
.work-text {
  padding: 20px;
  position: relative;
  z-index: 2;
}
.work.chartbeat {
  background-color: #2F4859;
  background-image: linear-gradient(#2F4859, #3F6178);
}
.bg {
  width: 110%;
  height: 110%;
  z-index: 0;
  position: absolute;
  left: -5%;
  top: -5%;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.work.chartbeat .bg {
  background: url(/img/chartbeat.png) top center no-repeat;
  background-size: cover;
}
.work.soundquake .bg {
  background: url(/img/soundquake.png) top center no-repeat;
  background-size: cover;
}
.work.povlossures .bg {
  background: url(/img/povlossures.png) top center no-repeat;
  background-size: cover;
}
.work.projectopen .bg {
  background: url(/img/projectopen.png) top center no-repeat;
  background-size: cover;
}
.work.kanyezone .bg {
  background: url(/img/kanyezone.png) top center no-repeat;
  background-size: cover;
}

.post-content {
  overflow: hidden;
  height: 600px;
  position: relative;
}

.post-content:before {
  content: ' ';
  width: 100%;
  height: 150px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(transparent, white);
}

.post {
  margin-bottom: 50px;
  position: relative;
  padding-bottom: 50px;
}

.post h2 {
  margin-bottom: 0px;
  line-height: 1.3em;
  letter-spacing: -.018em;
}

.continue-link {
  font-size: 14px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-style: italic;
}

.insta-poem {
  margin: 70px 0px;
}
.insta-poem img {
  width: 100%;
}
.insta-caption {
  margin-top: 15px;
}
.insta-caption .drop-caps {
  float: left;
  font-family: 'buena-park';
  font-size: 63px;
  margin-top: 23px;
  margin-right: 5px;
}

footer {
  font-size: 15px;
  margin: 40px 0px;
  text-align: center;
}
footer img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  height: 20px;
  position: relative;
  top: 4px;
}
