html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #696969;
  font-family: "Arial", sans-serif;
  color: #FFF;
}

a {
  color: rgb(255, 0, 145);
}

h1 {
  font-family: 'Unica One', 'Arial', sans-serif;
}

nav {
  position: absolute;
  right: 50px;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 0 20px;
}

.content {
  font-family: 'Vollkorn', 'Arial', serif;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 70px;
}

.about {
  background-color: #0AB3D1;
}

.projects {
  background-color: #FFC600;
}

.resume {
  background-color: #D53817;
}

.contact {
  background-color: #8265A2;
}

.blog {
  background-color: #339966;
}

