.poem {
  composes: media-item from '~common';
}

.img {
  composes: full-width from '~common';
}

.caption {
  margin-top: 15px;
}

.drop {
  composes: buena-park from '~common';
  float: left;
  font-size: 63px;
  margin-top: 23px;
  margin-right: 5px;
}

@media (max-width: 615px) {
  .drop {
    font-size: 53px;
    margin-top: 19px;
  }
}

