.musicItem {
  composes: media-item from 'common';
}

.imageContainer {
  composes: relative from 'common';
}

.img {
  composes: full-width from 'common';
}

.h4 {
  composes: media-header absolute from 'common';
  top: 50px;
  left: 50px;
  right: 50px;
  z-index: 2;
}

.section {
  margin: 1em 0;
}

.quote {
  margin-left: 1em;
  margin-top: 0.5em;
}

