.serif {
  font-family: 'livory', 'Palatino', serif;
}

.buena-park {
  font-family: 'buena-park';
}

.baskerville {
  font-family: baskerville;
}

.normal {
  font-style: normal;
}

.italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.no-decoration {
  text-decoration: none;
}
