<h2>About</h2>
<div>
    <p>I'm a frontend software engineer at <a href="http://www.chartbeat.com">Chartbeat</a>, based in New York City.</p>
    <p>I mostly write framework-less, cross-browser, testable javascript for our embedded analytics scripts. Sometimes I work on <a href="https://chartbeat.com/publishing/for-adsales/overview">dashboards</a> and <a href="https://chartbeat.com/labs/rising/">experiments</a>. And I wrote a <a href="http://blog.chartbeat.com/2013/06/18/sound-and-color-data-as-art/">post</a> about some other stuff I worked on during hack weeks.</p>
    <p>I've worked as a product manager and developer for non-profits like <a href="http://brute.is">BRUTE LABS</a> and <a href="http://www.uniondocs.org/">UnionDocs</a>, and contributed to other <a href="https://github.com/dbow">side projects</a>.</p>
    <p>I previously worked at Funzio (<a href="http://techcrunch.com/2012/05/01/gree-acquires-mobile-social-game-developer-funzio-terms-are-undisclosed/">and then GREE</a>) as the lead frontend developer; and at Google as a product specialist, internal tools developer, and operations guy in the Enterprise apps group.</p>
    <p>I like biking, coffee, baseball, data visualization, recording <a href="http://eggyrecords.blogspot.com/2009/09/these-are-three-latest-releases-from.html">music</a> with a tape player, southern style chicken sandwiches, and <a href="https://picasaweb.google.com/lh/photo/2y7uedPEW5x1cX3gMCJ6dD5wkiSZmM0FbXhobdmcDzo?feat=directlink">bowling</a>.</p>
</div>

