<h2>CONTACT</h2>
<div class="content-body">
    <p>danny[at](this website url)</p>
    <p>I'd like to hear about volunteer or freelance opportunities. Sorry, I'm not interested in your startup.</p>
    <div class="contact-social-badges">
        <a href="https://twitter.com/dbow1234"><img src="img/Twitter_logo.png" alt="Twitter" /></a>
        <a href="https://plus.google.com/111986384054479005896?prsrc=3" rel="author" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt=""/></a>
        <a href="http://www.linkedin.com/in/dbowman123"><img src="img/LinkedIn_Logo60px.png" alt="LinkedIn" /></a>
        <a href="http://open.spotify.com/user/dbowman123"><img alt="Follow me on Spotify" src="https://d2c87l0yth4zbw.cloudfront.net/i/social-badge-en.png" title="Follow me on Spotify"></a>
    </div>
</div>
