<div id="game-content" class="game-container">
    <div id="game-play">
        <div>Your score: <span id="game-score">0</span></div>
        <div class="game-instructions">Hello, Here's a game.  Instructions: keep the red ball up in the air!</div>
        <div id="game-countdown">Randomizer initiating in <span></span> seconds!!!</div>
        <div id="game-winner">Congratulations!  You just got a new high score <span id="game-high-score"></span>.
            Please enter your initials:
            <div id="game-validation">Please provide initials!</div>
            <input id="game-initials" type="text" maxlength="3" name="initials" />
            <input id="game-submit" type="submit" value="Submit" />
        </div>
        <div id="game-scores" class="game-container">
            <div class="game-inner">High scores:
                <ul id="game-scores-list">
                    {% for score in high_scores %}
                    <li><span class="game-score">{{ score.score }}</span><span class="game-name">{{ score.initials }}</span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div id="game-start" class="game-inner">Play game</div>
</div>

<div id="ball-pit">
    <canvas id="ball-pit-canvas" data-processing-sources="animation/dbow.pde"></canvas>
</div>

