<div>
    <p class="highlight">I'm a Brooklyn-based frontend software engineer, working at <a href="http://www.chartbeat.com">Chartbeat</a>. I used to work at Google and Funzio.</p>
    <p><a ui-sref="work">My work</a> is a little all over the place.</p>
    <p>Non-profits like <a href="http://www.uniondocs.org/">UnionDocs</a> and <a href="http://brute.is">BRUTE LABS</a> get a lot of my spare time. So do reading and music. I like baseball, coffee roasting, good stories, southern style chicken sandwiches, and <a href="https://picasaweb.google.com/lh/photo/2y7uedPEW5x1cX3gMCJ6dD5wkiSZmM0FbXhobdmcDzo?feat=directlink">bowling</a>.</p>
    <p>I can be reached at <span class="info-email">danny@(this website url)</span>.</p>
    <p>I'd like to hear about volunteer or freelance opportunities. Sorry, I'm not interested in your startup.</p>
</div>

