<h2>RESUME</h2>
<div class="content-body">
    <h4>Experience</h4>
    <ul>
        <li>Software Engineer | Chartbeat | Sep 2012 - Present</li>
        <li>Head of Technology | BRUTE LABS | 2009 - 2013</li>
        <li>Software Engineer | Funzio | Jan 2012 - June 2012</li>
        <li>Product Specialist | Google | Sep 2008 - August 2011</li>
    </ul>
    <h4>Education</h4>
    <ul>
        <li>B.A. | Brown University | 2007</li>
    </ul>
    <h4>Skills</h4>
    <ul>
        <li>Languages: JavaScript, Python, HTML, CSS</li>
        <li>Technologies: AngularJS, Google Closure, Git, Less, WebGL, App Engine, Django, Node, jQuery</li>
    </ul>
    <br />
    <p>For full details, visit my <a href="http://www.linkedin.com/in/dbowman123">linkedIn profile</a>.  For code samples, visit my <a href="http://github.com/dbow/">github profile</a>.</p>
</div>

