.content {
  composes: relative overflow-hidden from 'common';
  height: 600px;
}

.content:before {
  content: ' ';
  width: 100%;
  height: 150px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
}

.post {
  composes: relative overflow-hidden from 'common';
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.medium {
  padding-bottom: 0px;
}

.h2 {
  composes: black-text from 'common';
  margin-bottom: 0px;
  line-height: 1.3em;
  letter-spacing: -.018em;
}

.h2:first-of-type {
  margin-top: 0px;
}

.link {
  composes: italic absolute from 'common';
  font-size: 14px;
  bottom: 0px;
  right: 0px;
}

