@value pink, gray from '~common';

.footer {
  composes: text-center from '~common';
  font-size: 15px;
  margin: 40px 0px;
}

.svg {
  display: inline-block;
  width: 25px;
  margin: 0px 5px;
}

.svg * {
  fill: gray;
}

.svg:hover * {
  fill: pink;
}

