@value pink, gray from 'common';

.footer {
  font-size: 15px;
  margin: 40px 0px;
  text-align: center;
}

.svg {
  display: inline-block;
  width: 25px;
  margin: 0px 5px;
}

.svg * {
  fill: gray;
}

.svg:hover * {
  fill: pink;
}

