@import "tailwindcss";

@theme {
  --color-pink: #DB726C;
  --color-gray: #DBD5B5;
  --font-serif: 'yorkten-slab-normal', serif;
  --font-baskerville: baskerville, serif;
}

@layer base {
  html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #505C52;
  }

  body {
    font-size: 21px;
    margin: 0 auto;
    width: 600px;
    line-height: 1.3;
    letter-spacing: -0.005em;
    font-family: var(--font-serif);
    color: var(--color-gray);
  }

  a {
    color: var(--color-pink);
    text-decoration: none;
  }

  h1 {
    font-weight: 400;
  }

  @media (max-width: 615px) {
    body {
      width: 90%;
      min-width: 300px;
      font-size: 17px;
    }
  }
}
