@value pink, gray from 'common';

.nav {
  margin: 40px auto;
}

.h2 {
  display: inline;
  letter-spacing: -.02em;
  font-size: 1em;
}

.link {
  composes: gray-text italic no-decoration from 'common';
  position: relative;
  overflow: hidden;
}

.link:hover {
  color: pink;
}

.active {
  font-style: normal;
  font-weight: 700;
}

.active:hover {
  color: gray;
}

.amp {
  composes: baskerville italic from 'common';
}

@media (max-width: 615px) {
  .nav {
    text-align: center;
    margin: 10px 0px;
  }
}

