@value pink, gray from 'common';

.nav {
  margin: 40px auto;
}

.h2 {
  composes: inline from 'common';
  letter-spacing: -.02em;
  font-size: 1em;
}

.link {
  composes: gray-text italic overflow-hidden relative no-decoration from 'common';
}

.link:hover {
  color: pink;
}

/*
 * NOTE(dbow): Composed .normal classname does not override .link font-style
 * sufficiently so I set it directly here. Composition is a _little_
 * unpredictable sometimes...
 */
.active {
  font-style: normal;
  font-weight: 700;
}

.active:hover {
  color: gray;
}

.amp {
  composes: baskerville italic from 'common';
}

@media (max-width: 615px) {
  .nav {
    text-align: center;
    margin: 10px 0px;
  }
}

