.work {
  composes: media-item overflow-hidden black-background from 'common';
  padding: 30px;
}

.bg {
  composes: absolute from 'common';
  width: 110%;
  height: 110%;
  z-index: 0;
  left: -5%;
  top: -5%;
  filter: blur(5px);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.tale {
  composes: bg;
  background-image: url(/images/tale.png)
}

.livinglossures {
  composes: bg;
  background-image: url(/images/livinglossures.png);
}

.chartbeat {
  composes: bg;
  background-image: url(/images/chartbeat.png);
}

.soundquake {
  composes: bg;
  background-image: url(/images/soundquake.png);
}

.kanyezone {
  composes: bg;
  background-image: url(/images/kanyezone.png);
}

.projectopen {
  composes: bg;
  background-image: url(/images/projectopen.png);
}

.video {
  composes: absolute from 'common';
  left: 0px;
  top: 0px;
  height: 100%;
}

.h4 {
  composes: media-header inline from 'common';
}

.text {
  composes: relative from 'common';
  padding: 20px;
  z-index: 2;
}

.p {
  composes: white-background from 'common';
  padding: 10px;
}

@media (max-width: 615px) {
  .text {
    padding: 0px;
  }
}
